{{yield}}
{{#if addNewArticle}}
  <h1>New Article Entry</h1>
  <div>
    <form>
      <div class="input-lg">
        <label for="title">title</label>
        {{input value=title id="title"}}
      </div>

      <div class="input-lg">
        <label for="author">author</label>
        {{input value=author id="author"}}
      </div>

      <div class="input-lg">
        <label for="category">category</label>
        {{input value=category id="category"}}
      </div>

      <div class="input-lg">
        <label for="image">image</label>
        {{input value=image id="image"}}
      </div>

      <div class="input-lg">
        <label for="content">content</label>
        {{textarea value=content id="content"}}
      </div>
      <br>
      <button class="btn btn-xs btn-success" {{action 'save'}}>Save</button>
    </form>
  </div>
  {{else}}
    <button class="btn btn-lg btn-warning" {{action 'articleFormShow'}}>New Article</button>
{{/if}}
